.card {
    padding: 20px;
    margin: 10px 10px 10px 10px;
    width: 400px;
    height: 200px;
    border: 1px solid #000;
    box-shadow: #9b979a;
    background-color: #faf5f3;
}

.card:hover {
    background-color: var(--c-red);
    color: var(--c-white);
    cursor: pointer;
}

h1 {
    padding: 10px;
    margin-top: 50px;
}
