<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <button class="btn btn-primary">Add Show</button>
        </div>
        <div class="row" *ngIf="shows">
            <div class="col-md-12">
                <ngx-datatable
                        class="bootstrap"
                        [selectionType]="'single'"
                        [rows]="shows.data"
                        [columns]="columns"
                        [count]="shows.total"
                        [columnMode]="'force'"
                        [headerHeight]="'auto'"
                        [footerHeight]="'auto'"
                        [rowHeight]="'auto'"
                        [externalPaging]="true"
                        [offset]="pageOffset"
                        [limit]="shows.per_page"
                        (page)="goToPage($event)"
                        (select)="goToView($event)"
                >
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
