<div class="row" *ngIf="title">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">{{title}}
        </button>
        <div [collapse]="isCollapsed" [isAnimated]="true">
            <div class="well well-lg card card-block card-header">
                <app-data-table [paginatedData]="data" [columns]="columns" [allowMultiSelect]="true"></app-data-table>
            </div>
        </div>
    </div>
</div>