.navbar {
    background-color: var(--c-black);
}

a {
    color: var(--c-white);
}

.navbar-brand {
    padding: 0 10px 0 0;
    margin: 0;
}

.navbar-brand img {
    max-height: 100%;
}

.active, .nav-link:hover {
    background-color: var(--c-white);
    color: var(--c-black);
}

.active {
    color: var(--c-red);
}
