.navbar {
    background-color: #66605F;
}

a {
    color: #FFFFFF;
}

.navbar-brand:hover, .nav-link:hover {
    background-color: #302D2C;
}

.active {
    background-color: #fff;
    color: #302D2C;
}

.active:hover {
    color: #fff;
}
