<div class="modal fade" bsModal #createModal="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create Championship</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" id="name">
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert alert-danger">Field is required.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Level</label>
                <input type="text" class="form-control" formControlName="level" id="level">
                <div *ngIf="form.controls['level'].hasError('required') && form.controls['level'].touched" class="alert alert-danger">Field is required.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="show_id">Show</label>
                <select class="form-control" formControlName="show_id" id="show_id">
                  <option *ngFor="let show of shows" [value]="show.id">{{ show.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="show_id">Wrestler</label>
                <select class="form-control" formControlName="wrestler_id" id="wrestler_id">
                  <option *ngFor="let wrestler of wrestlers" [value]="wrestler.id">{{ wrestler.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="form.reset()">Clear</button>
        <button type="button" class="btn btn-primary" (click)="createChampionship()" [disabled]="!form.valid">Create</button>
      </div>
    </div>
  </div>
</div>
