<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <button class="btn btn-primary" (click)="createWrestlerModal.openModal()">Add Wrestler</button>
        </div>
        <div class="row" *ngIf="wrestlers">
            <div class="col-md-12">
              <app-data-table (onPageChange)="goToPage($event)" (onRowClick)="goToView($event)" [columns]="columns" [paginatedData]="wrestlers" ></app-data-table>
            </div>
        </div>
    </div>
</div>
<app-wrestlers-create #createWrestlerModal
                  (confirmPressed)="createWrestler($event)"
></app-wrestlers-create>
