<div class="row" *ngIf="championship">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default" (click)="edit()" *ngIf="!editButtonPressed">Edit</button>
                <div class="btn-group" *ngIf="editButtonPressed">
                    <button class="btn btn-primary" (click)="saveChanges()" [disabled]="!form.valid">Save</button>
                    <button class="btn btn-default" (click)="cancelEdit()">Cancel</button>
                </div>
                <button class="btn btn-danger" (click)="confirmDeleteDialogModal.openModal()">Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" formControlName="name" id="name" [readonly]="!editButtonPressed">
                                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert alert-danger">Field is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="level">Level</label>
                                <input type="text" class="form-control" formControlName="level" id="level" [readonly]="!editButtonPressed">
                                <div *ngIf="form.controls['level'].hasError('required') && form.controls['level'].touched" class="alert alert-danger">Field is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="champion_id">Current Champion</label>
                                <input type="text" class="form-control" formControlName="champion_id" id="champion_id" readonly>
                                <div *ngIf="form.controls['champion_id'].hasError('required') && form.controls['champion_id'].touched" class="alert alert-danger">Field is required.</div>
                            </div>
                            <button class="btn btn-primary" (click)="selectNewChampion()">Change Champion</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Show</label>
                                <app-data-table [paginatedData]="shows" [columns]="wrestlersAndShowsColumns"></app-data-table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-yesnodialogmodal #confirmDeleteDialogModal [title]="'Delete Wrestler'" [message]="'Are you sure you want to delete this championship?'" (confirmPressed)="delete()" (cancelPressed)="confirmDeleteDialogModal.closeModal()"></app-yesnodialogmodal>
<app-datatable-modal #wrestlersDatatable [title]="'Change Champion'" [data]="wrestlers" [columns]="wrestlersAndShowsColumns" (onRowClick)="updateChampion($event)"></app-datatable-modal>
