<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2>Draft Mode</h2>
            </div>
        </div>
        <div class="row" *ngIf="shows">
            <div class="col-md-12">
                <div *ngFor="let show of shows">
                    <app-accordion-collapse [title]="show.name" [data]="showRosters[show.id]" [columns]="tableCols" (onMultiSelect)="onWrestersSelected($event)"></app-accordion-collapse>
                </div>
            </div>
        </div>
    </div>
</div>